.DS_Store
/.idea
/local-config.php
node_modules
.sass-cache
npm-debug.log
wp-content/debug.log
wp-content/upgrade/
wp-content/uploads/
wp-content/cache/
/wp
/wp-content/vendor
/wp-content/plugins/wp-redis
/wp-content/plugins/wp-migrate-db-pro-multisite-tools
/wp-content/plugins/wp-migrate-db-pro-media-files
/wp-content/plugins/wp-migrate-db-pro-cli
/wp-content/plugins/wp-migrate-db-pro
/wp-content/plugins/wordpress-seo
/wp-content/plugins/user-switching
/wp-content/plugins/tinymce-advanced
/wp-content/plugins/svg-support
/wp-content/plugins/redirection
/wp-content/plugins/post-type-switcher
/wp-content/plugins/nav-menu-roles
/wp-content/plugins/my-eyes-are-up-here
/wp-content/plugins/members
/wp-content/plugins/mailgun
/wp-content/plugins/imsanity
/wp-content/plugins/gutenberg
/wp-content/plugins/gravityforms
/wp-content/plugins/google-analytics-for-wordpress
/wp-content/plugins/force-strong-passwords
/wp-content/plugins/force-regenerate-thumbnails
/wp-content/plugins/autoptimize
/wp-content/plugins/advanced-custom-fields-pro
/wp-content/plugins/acf-content-analysis-for-yoast-seo
/wp-content/themes/objectiv-starter-theme
